*{
	font-size: 18px;
}
body{
	margin: 0px;
	padding: 0px;
}
main {
	margin-top: 80px;
}
p {
	font-weight: bold;
}
iframe{
    overflow:hidden;
    scroll-behavior: smooth;
}
td {
	font-size: 14px;
	font-weight: 500;
}
span {
	font-size:14px;
	font-weight: 500;
}
table {
    table-layout:all;
}
#day {
    font-size: 30px;
}
#PublicHoliday {
    font-size:25px;
}
#circle1 {
    border-radius: 50%;
    height: 100px;
    width: 50px;
}
.navbar_fixed{
    position: fixed;
    width: 100%;
    top: -1px;
    left: 0; right: 0;
    background: #ffffff;
    box-shadow: var(--box-shadow);
    z-index: 999;
    transition: background 1s ease;
}
.bg-hello {
	background-color:#0080ff;
	color: white;
}
.navbar-light .navbar-brand {
    color: rgb(255 255 255);
}
.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
    color: rgb(255 255 255 / 100%);
}
.navbar-light .navbar-brand:hover{
    color: rgb(255 255 255);
}
.navbar-light .navbar-nav .nav-link {
    color: white;
}
.navbar-light .navbar-nav .nav-link:hover {
    color: white;
}
.container {
  max-width: 960px;
}

.pricing-header {
  max-width: 700px;
}

.card-deck .card {
  min-width: 220px;
}

.card-body {
    flex: 1 1 auto;
    background-color: #cee9ff;
    color: black;
    padding: 1rem 1rem;
}
.blog-footer {
  padding: 2.5rem 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  
}
.blog-footer p:last-child {
  margin-bottom: 0;
}
.jumbotron {
        	padding: 10px;
        }
.card {
	margin: 20px;
	box-shadow: 5px 5px 5px  #00000050;
	 transition: box-shadow 0.3s ease-in-out;
}
.card:hover {
  box-shadow: 0 5px 15px 2px #00000070;
}
.display-3{
	color: #0080ff;
	font-weight: bold;
	font-family: monospace;
}
.hili{
	color: #0080ff;
	font-weight: bold;
	font-family: monospace;
}

.contact {
	margin: 10px;
	padding: 5px;
	align-content: center;
	text-align: center;
}
.TimeTable {
	padding: 50px;
	margin: 5px;
}
.dark-card-body {
    flex: 1 1 auto;
    background-color: #000;
    color: #ffffff;
    padding: 1rem 1rem;
    border:none;
}
.bg-dark-ablum{
	padding-top: 3rem!important;
    padding-bottom: 3rem!important;
    background-color: #292929!important;
}
.dark-mode {
  background-color: #222;
  color: #fff;
}
.darkmode {
	border:none;
	background-color: #ffffff0;
}
.dark-blog-footer {
    padding: 2.5rem 0;
    color: #fff;
    text-align: center;
    background-color: #292929;
}
.dark-table {
    --bs-table-bg: transparent;
    --bs-table-striped-color: #212529;
    --bs-table-striped-bg: rgba(0, 0, 0, 0.05);
    --bs-table-active-color: #212529;
    --bs-table-active-bg: rgba(0, 0, 0, 0.1);
    --bs-table-hover-color: #212529;
    --bs-table-hover-bg: rgba(0, 0, 0, 0.075);
    width: 100%;
    margin-bottom: 1rem;
    color: #ffffff;
    vertical-align: top;
    border-color: #dee2e6;
}
}
.info-btns{
	padding: 10px;
	margin: 10px;
}
.btn-primary{
	margin: 10px;
}
.info {
    padding: 50px;
    margin: 5px;
}
.container {
    align-self: center;
    align-content: center;
}
.about {
    align-content: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
    margin: 10px;

}
