html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

 @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
        .jumbotron {
        	padding: 10px;
        }
      }
 @media (max-width: 600px) {
       iframe{
    overflow:hidden;
    scroll-behavior: smooth;
    height: 1100px;
    width: 100%;
}
.TimeTable {
	padding: 10px;
	margin: 5px;
}
.info {
    padding: 5px;
    margin: 10px;
  
}
.info-card{
          width: 320px;
        }
      }

